/* PomodoroTimer.css */
/* .pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  
  text-align: center;
}

.timer-box {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
} */


/* PomodoroTimer.css */
.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  
  text-align: center;
}

.timer-box {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fff;
  border: 2px solid #ddd; */
  /* border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

.timer {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
}

.pomodoro-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.pomodoro-controls button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pomodoro-controls button:hover {
  background-color: #45a049;
}

.pomodoro-controls button:active {
  background-color: #388e3c;
}

.mode-selector {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mode-selector button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mode-selector button:hover {
  background-color: #0056b3;
}

.mode-selector button:active {
  background-color: #004080;
}
